<script src="{{ '/assets/js/updated.js' | relative_url }}"></script>
<div id="lastUpdated" class="updated-heading">Last updated on: <span id="updateDate">Loading...</span></div>

Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/installing-the-game' | relative_url }}">Installing the Game</a></li>
  <li><a href="{{ '/after-installing-the-game' | relative_url }}">After Installing the Game</a></li>
  <li><a href="{{ '/textures-and-effects' | relative_url }}">Textures and Effects</a></li>
  <li><a href="{{ '/third-party-programs' | relative_url }}">Third Party Programs</a></li>
  <li><a href="{{ '/third-party-websites' | relative_url }}">Third Party Websites</a></li>
  <li><a href="{{ '/about-project-quarm' | relative_url }}">About Project Quarm</a></li>
  <li><a href="{{ '/troubleshooting-faq' | relative_url }}">Troubleshooting FAQ</a></li>
  <li><a href="{{ '/about-quarmguide' | relative_url }}">About Quarm.Guide</a></li>
  <li><a href="{{ '/game-guides' | relative_url }}">Game Guides</a></li>
</ul>
