Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/part-1-installing-the-main-game' | relative_url }}">Part 1: Installing the Main Game</a></li>
  <li><a href="{{ '/part-2-after-installing-the-main-game' | relative_url }}">Part 2: After Installing the Main Game</a></li>
  <li><a href="{{ '/part-3-installing-optional-textures-and-effects' | relative_url }}">Part 3: Installing Optional Textures and Effects</a></li>
  <li><a href="{{ '/part-4-installing-optional-3rd-party-programs' | relative_url }}">Part 4: Installing Optional 3rd Party Programs</a></li>
  <li><a href="{{ '/part-5-third-party-websites' | relative_url }}">Part 5: Third Party Websites</a></li>
  <li><a href="{{ '/about-project-quarm' | relative_url }}">About Project Quarm</a></li>
  <li><a href="{{ '/faq-troubleshooting-and-obscure-situations' | relative_url }}">FAQ, Troubleshooting, and Obscure Situations</a></li>
</ul>
