---
layout: "null"
---

@import "git-wiki-style.scss";

$light-orange-red: #e06666; // Lighter shade of orange-red for easy reading
$orange-red: #FF5349; // Standard shade of orange-red for regular headings
$dark-orange-red: #FF281B; // Darker shade of orange-red for bold headings
$purple: #8a63d2; // Complementary purple color for links
$neon-red: #BE0A00; // Vibrant neon-red color for code blocks
$dark-purple: #6a1b9a; /* Replace with a darker shade of your purple color */
$dark-gray: #333; // Dark gray color for contrast

$light-orange-red: #e06666; // Lighter shade of orange-red for easy reading
$orange-red: #FF5349; // Standard shade of orange-red for regular headings
$dark-orange-red: #FF281B; // Darker shade of orange-red for bold headings
$purple: #8a63d2; // Complementary purple color for links
$neon-red: #BE0A00; // Vibrant neon-red color for code blocks
$dark-purple: #6a1b9a; /* Replace with a darker shade of your purple color */
$dark-gray: #333; // Dark gray color for contrast

@media (prefers-color-scheme: dark) { 
  a {
  color: $purple ;
  text-shadow: 0 0 5px $purple ;
}

h1, h2 {
  color: $dark-orange-red !important;
  text-shadow: 0 0 5px $dark-orange-red;
}

h3 {
  color: $orange-red !important;
  text-shadow: 0 0 5px $orange-red;
}

h4, h5, {
  color: $light-orange-red !important;
  text-shadow: 0 0 5px $orange-red;
}

h6 {
  color: $dark-orange-red !important;
  text-shadow: 0 0 5px $dark-orange-red;
}

code.highlighter-rouge {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: $neon-red;
  border-radius: 2px;
  text-shadow: 0 0 5px $neon-red; // Add glow effect to text within code blocks
  }
}
