---
---
@import "{{ site.theme }}";

// Override inline styles
.site-header {
  background-color: #e06666 !important;
  border-top: 5px solid #d64a4a !important;
  border-bottom: 1px solid #d64a4a !important;
  color: #e06666 !important;
}

.site-title, .site-title:visited {
  color: #e06666 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #e06666 !important;
}

a {
  color: #e06666 !important;
}

.main-content ul li::before {
  color: #e06666 !important;
  content: "-";
}

pre {
  background-color: #111 !important;
  color: #e06666 !important;
}

.main-content > hr {
  border-color: #e06666 !important;
  background-color: #e06666 !important;
  height: 5px !important;
}
