{% if site.github.is_project_page %}
<div class="git-wiki-copyrights">
    <p><small>The Quarm.Guide Wiki is maintained by <a href="{{ site.github.owner_url }}">Xanax/Xantagonist &lt;Former Glory&gt;</a> and may contain inaccuracies regarding Project Quarm, forums, live EverQuest, and real-world information.<br>This is a collaborative platform, and your contributions are welcome! If you notice any inaccuracies or areas for improvement, please don't wait for someone else to fix them—jump in and make the changes yourself.</small></p>
{% endif %}
{% if site.github.is_project_page %}
    <p class="view"><small><a href="https://github.com/LordDemonos/Quarm.Guide">View the Project on GitHub</a> — Hosted on GitHub Pages — Powered by <a href="https://github.com/Drassil/git-wiki-theme">Git-Wiki v{{ version }}</a></small></p>
</div>
{% endif %}
