{% include git-wiki/defines/defines.html %}

<!doctype html>

{% include git-wiki/sections/head/head.html %}

{% include git-wiki/sections/content/body.html %}

<!-- Other content of git-wiki-default.html -->
...
<body>
 <div id="back-to-top-btn" style="display: none;">
    <a href="#top">↑</a>
</div>
<link id="main-css" rel="stylesheet" href="/_sass/git-wiki-style.scss">
<script src="{{ '/assets/js/back-to-top.js' | relative_url }}"></script>
<script src="{{ '/assets/js/anchor-links.js' | relative_url }}"></script>
</body>
</html>

